<p id="notice"><%= notice %></p>

<p>
  <strong>Doing:</strong>
  <%= @issue.doing %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @issue.problem %>
</p>

<p>
  <strong>Solve:</strong>
  <%= @issue.solve %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @issue.reference %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
